POSTGRES_DB=dummy_posgres_db
POSTGRES_USER=dummy_posgres_user
POSTGRES_PASSWORD=dummy_posgres_password
SECRET_KEY=asecretkey
ALLOWED_HOSTS=localhost,0.0.0.0,web
SIGNAL_URL=http://signal_url:5000.com
MAIN_BOT_ACCOUNT_SOURCE_NUMBER=+1234567
INFO_CLIMAT_API_KEY=1234
INFO_CLIMAT_API_KEYRING_ID=1234
